@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSans";
  src: local("ProductSans"),
    url("/fonts/product-sans/Product Sans Regular.ttf") format("truetype");
}

html,
body,
div#root {
  @apply font-product-sans;
  @apply w-full h-full;
}

.main_wrapper {
  background: url("/bg-svg.svg") no-repeat top / 100% auto, white;
  background-attachment: local;
}

.btn-primary-gradient {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
}

select.global-select {
  background: url("/arrow-down.svg") no-repeat center right 5% / 1.25rem auto;
  content: url("/arrow-down.svg");
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
}
